body {
  box-sizing: border-box;
  background-color: #e5e5e5;
}

header {
  background-color: #fffbf0;
}

.penguin-fashion-nav img {
  width: 250px;
}

.penguin-card {
  border: 0;
  border-radius: 20px;
}

.penguin-card-img {
  width: 80%;
  padding: 10px;
  height: 50%;
  border-radius: 20px;
  background-color: #f1f1f1;
}

.penguin-card-btn {
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
  padding: 5px;
  width: 150px;
  height: 60px;
  background-color: #a4bc46;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 900;
  font-size: 80px;
  line-height: 80px;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 35px;
}

h4 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 30px;
}

h5 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 25px;
}

h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

p {
  font-family: "Roboto Slab", serif;
}
